@import url("./root.css");

/* ------------------------------------------------------  Bootstrap Classes ------------------------------------------------- */

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.max-w-497 {
  max-width: 497px;
}

.max-w-511 {
  max-width: 511px;
}

.z-1 {
  z-index: 1;
}

/* ------------------------------------------------------  Padding Classes ----------------------------------------------------- */

.pb-27 {
  padding-bottom: 27px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-65 {
  padding-top: 65px;
}

.py-65 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-140 {
  padding-top: 140px;
}

.pb-140 {
  padding-bottom: 140px;
}

.py-140 {
  padding-top: 140px;
  padding-bottom: 140px;
}

/* ------------------------------------------------------  Margin Classes ------------------------------------------------------ */

.mt-6 {
  margin-top: 6px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-34 {
  margin-top: 34px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-160 {
  margin-bottom: 160px;
}

/* ------------------------------------------------------  Flex Classes -------------------------------------------------------- */

.gap-6 {
  gap: 6px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-14 {
  gap: 14px;
}

.gap-18 {
  gap: 18px;
}

.gap-34 {
  gap: 34px;
}

.gap-40 {
  gap: 40px;
}

.left-10 {
  left: 10px;
}
/* ------------------------------------------------------  Header -------------------------------------------------------------- */

.header {
  background-image: url("../images/png/Header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.common-btn {
  border: none;
  width: 133px;
  height: 48px;
  outline: none;
  border-radius: 130px;
}

.nav {
  border-bottom: 1px solid var(--nav-brdr);
  background-color: var(--body-bg);
}

.red-brdr-txt {
  padding: 6px 20px;
  width: fit-content;
  border-radius: 150px;
  background-color: var(--red-brdr);
  border: 1px solid var(--color-d0);
}

.main-logo {
  width: 44px;
}

.main-h {
  max-width: 957px;
}

.main-h-logo {
  width: 26px;
  margin-bottom: 4px;
}

.header-p {
  max-width: 734px;
}

.started-arrow {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: var(--arrow-bg);
}

.started-btn {
  width: 168px;
  height: 48px;
  box-shadow: 0px 8px 40px 0px var(--started-btn);
}

.Header-position {
  top: 78%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------------------------------------------  John Doe -------------------------------------------------------------- */

.john-doe {
  background-image: url("../images/png/section1-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.section1-image {
  border-radius: 16px;
  box-shadow: 0px 0px 110px 0px var(--img-shadow);
}

/* ------------------------------------------------------  Partners slider -------------------------------------------------------- */

.slider {
  position: relative;
  padding-top: 57px;
  padding-bottom: 50px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(151, 71, 255, 0.1) 51.41%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 51.41%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.slick-slide {
  margin: 0 35px;
}

.slick-list {
  margin: 0 -35px;
}

/* ------------------------------------------------------  Trading -------------------------------------------------------------- */

.trading-p1 {
  max-width: 500px;
}

.trading-p2 {
  max-width: 478px;
}

.trading-box2 {
  background: linear-gradient(
    98.22deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(204, 204, 204, 0) 12.83%
  );
  border: 1px solid #ffffff1a;
  padding: 18px;
  border-radius: 10px;
}

.trading-box2-p {
  max-width: 495px;
}

/* ------------------------------------------------------  Discover -------------------------------------------------------------- */

.discover-p1 {
  max-width: 535px;
}

.discover-card {
  background: linear-gradient(
    135.66deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(153, 153, 153, 0) 112.35%
  );
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  padding: 24px;
}

.discover-svg-common {
  height: 80px;
  width: 80px;
  border-radius: 7px;
  background-color: #d0215d;
}

.discover-png {
  left: 50%;
  transform: translate(-50%);
  top: 0;
  width: 100%;
  max-width: 987px;
}

/* ------------------------------------------------------  Mirror -------------------------------------------------------------- */

.mirror-img {
  max-width: 507px;
}

/* ------------------------------------------------------  Leverage -------------------------------------------------------------- */

.levrage {
  background-image: url("../images/png/leverage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leverage-card {
  padding: 20px;
  background: #ffffff0a;
  border: 1px solid #ffffff1f;
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

.common-leverage-svg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.btc-svg {
  background-color: #fdc604;
}

/* ------------------------------------------------------  Timeline -------------------------------------------------------------- */

.timeline-box {
  background: linear-gradient(
    153.79deg,
    rgba(255, 255, 255, 0.1) -31.17%,
    rgba(153, 153, 153, 0) 112.78%
  );
  border-top: 3px solid #a020f0;
  padding: 20px;
}

.disc {
  border: 2px solid white;
  bottom: 14px;
}

.common-rotate {
  width: 50px;
  height: 50px;
  border: 1px solid #a020f0;
  box-shadow: 0px 0px 10px 0px #a020f0b2;
  border-radius: 3.54px;
  background-color: var(--body-bg);
  transform: rotate(45deg);
}

.common-rotate span {
  transform: rotate(-45deg);
}

.rotate-box1 {
  top: -100px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: 2;
}

.timeline-img {
  max-width: 813px;
  top: -86px;
  left: 50%;
  transform: translateX(-50%);
}

/* ------------------------------------------------------  Overview -------------------------------------------------------------- */

.overview-common-card {
  background: #ffffff0f;
  border-left: 2px solid #a020f0;
  border-radius: 10px;
  width: 198px;
  padding: 10px 20px;
}

.overview-card {
  max-width: 425px;
}

/* ------------------------------------------------------  Team ----------------------------------------------------------------- */

.Team-p1 {
  max-width: 640px;
}

.team-card {
  background: linear-gradient(
    135.66deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(153, 153, 153, 0) 112.35%
  );
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  padding: 30px;
}

/* ------------------------------------------------------  Accordian -------------------------------------------------------------- */

.accrodian {
  max-width: 927px;
}

.accordian-box {
  background: linear-gradient(
    153.79deg,
    rgba(255, 255, 255, 0.1) -31.17%,
    rgba(153, 153, 153, 0) 112.78%
  );
  border-radius: 10px;
}

.accordian-p {
  border-bottom: 3px solid #a020f0;
  border-radius: 10px;
}

/* ------------------------------------------------------  Ready section --------------------------------------------------------- */

.ready-section {
  background-image: url(../images/png/ready-section.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 388px;
  background-size: 100%;
}

.ready-h {
  max-width: 719px;
}

/* ------------------------------------------------------  Footer  --------------------------------------------------------------- */

.footer-p {
  max-width: 374px;
}

.common-footer-icon {
  border: 1px solid #ffffff33;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 200ms linear;
}

.email-button {
  width: 302px;
  border-radius: 115px;
  background: #ffffff14;
}

.email {
  border: none;
  outline: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-bottom: 12px;
  background-color: transparent;
}

.sign-p {
  max-width: 298px;
  margin-top: 14px;
}

.subscribe-btn {
  width: 121px;
  height: 44px;
}

/* ------------------------------------------------------  Sub footer  ----------------------------------------------------------- */

.sub-footer {
  border-top: 1px solid #414141;
  padding-top: 20px;
  padding-bottom: 20px;
}

.common-footer-icon:hover {
  transform: scale(0.9);
}

.Discord-footer-icon:hover {
  background-color: #7289da;
}

.twiter-footer-icon:hover {
  background-color: #1da1f2;
}

/* ------------------------------------------------------  Media screens --------------------------------------------------------- */

/* ------------------------------------------------------  Min-width: 576 ------------------------------------------------------- */

@media (min-width: 576px) {
  .main-h-logo {
    width: 47px;
  }

  .main-logo {
    width: 67px;
  }

  .navbar {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* ------------------------------------------------------  Min-width: 768 ------------------------------------------------------- */

@media (min-width: 768px) {
  .pt-md-90 {
    padding-top: 90px;
  }

  .mb-md-40 {
    margin-bottom: 40px;
  }

  .py-md-90 {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .mt-md-70 {
    margin-top: 70px;
  }

  .mt-sm-24 {
    margin-top: 24px;
  }

  .pt-md-73 {
    padding-top: 73px;
  }
}

/* ------------------------------------------------------  Min-width: 992 ------------------------------------------------------- */

@media (min-width: 992px) {
  .mb-lg-140 {
    margin-bottom: 140px;
  }

  .pt-lg-140 {
    padding-top: 140px;
  }

  .mt-lg-30 {
    margin-top: 30px;
  }

  .py-lg-140 {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

/* ------------------------------------------------------  Min-width: 1400 ------------------------------------------------------- */

@media (min-width: 1400px) {
  .section1 {
    bottom: 200px;
    background-size: 100% 77%;
  }

  .mt-xxl-100 {
    margin-top: 100px;
  }

  .header {
    background-image: url("../images/png/Header1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* ------------------------------------------------------  Max-width: 1400 ------------------------------------------------------- */

@media (max-width: 1400px) {
  .max-xxl-grow {
    flex-grow: 1;
    align-items: center;
  }

  .max-xxl-mb-140 {
    margin-top: 140px;
  }

  .xxl-pt-140 {
    padding-top: 140px;
  }
}

/* ------------------------------------------------------  Max-width: 768 ------------------------------------------------------- */

@media (max-width: 767.1px) {
  /* navbar code */

  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 5;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-d0);
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }

  .navbar-items {
    position: fixed;
    top: 0;
    left: -100%;
    height: 102vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/png/Hero-Bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    z-index: 3;
  }

  .show {
    left: 0;
  }

  .slider {
    padding-top: 27px;
    padding-bottom: 16px;
  }
}

@media (max-width: 576px) {
  .discover-card {
    padding: 12px;
  }
}
